@charset "utf-8";
/* CSS Document */
.nav{
	display:block;
	list-style: none outside none;
    padding: 0px;
    margin-bottom: 0px;
}
.nav-main{
	float:right;
}
.nav-item{
	display:inline-block;
}


