* {
  margin: 0;
  padding: 0;
}

body {
  background: #2989d8;
  background: -moz-linear-gradient(top, #2989d8 0%, #133860 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2989d8), color-stop(100%,#133860));
  background: -webkit-linear-gradient(top, #2989d8 0%,#133860 100%);
  background: -o-linear-gradient(top, #2989d8 0%,#133860 100%);
  background: -ms-linear-gradient(top, #2989d8 0%,#133860 100%);
  background: linear-gradient(to bottom, #2989d8 0%,#133860 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#133860',GradientType=0 );
}

section {
  position: relative;
  top: 0;
  width: 300px;
  height: 350px;
  margin: 0 auto;
  padding-top: 500px;
  border:solid #ff0 1px;
}

h1, h2, h3, p {
  color: white;
  font-family: helvetica, arial;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  position: absolute;
  left: 50%;
  width: 300px;
  margin-left: -150px;
}

h1 {
  font-size: 68px;
  top: 285px;
}

h2 {
  font-size: 27px;
  top: 450px;
}

p {
  font-size: 17px;
  top: 910px;
}

.blase {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: white;
  opacity: 0.3;
}

.blase:nth-child(10) { left: 30px; top: 850px; }
.blase:nth-child(9) { left: 270px; top: 850px; }
.blase:nth-child(8) { left: 180px; top: 850px; }
.blase:nth-child(7) { left: 20px; width: 55px; height: 55px; border-radius: 55px;top: 750px; }
.blase:nth-child(6) { left: 150px; width: 55px; height: 55px; border-radius: 55px;top: 750px; }
.blase:nth-child(5) { left: 90px; width: 55px; height: 55px; border-radius: 55px;top: 750px; }
.blase:nth-child(4) { left: 210px; width: 105px; height: 105px; border-radius: 105px; }
.blase:nth-child(3) { top: 750px;left: 40px; width: 105px; height: 105px; border-radius: 105px; }
.blase:nth-child(2) { left: 60px; width: 105px; height: 105px; border-radius: 105px; }