@CHARSET "UTF-8";
#wrapper {
	overflow:hidden;
}

/* 这个页面分为四个大块，分别是 #create-form-steps #tool-save-container #tool-construct-container #form-construct-field
具体结构可以用Firebug去看。
讲一下可操作区域，tool-save-container里面有作为背景的div和作为上面图案的可操作的a，这两个都是有样式的，要更改请看下面注释。
tool-construct-container里面，bg和side是纯样式不用管，操作的有preserved和free，主要拖拽部分就是li，具体看下面注释。
form-construct-field里面，分为form-title,form-intro，form-body，具体看下面注释。
 */
#create-form-steps {
	width:90%;
	margin:1% 5%;
	height:2em;
	background:#111;
	text-align:justify;
	border-radius:5px;
	position:relative;
}
#create-form-steps div {
	display:inline-block;
}
#create-form-steps .step {
	height:2em;
	line-height:2em;
	width:30%;
	text-align:center;
	color:#fff;
} 
.step-div {
	background:url(../images/step-div.svg) no-repeat center;
	background-size:cover;
	width:4%;
	height:2em;
	margin-bottom:-9px;
}
#step-status-set {
	position:absolute;
	width:100%;
	top:0; left:0;
	text-align:justify;
}
#step-status-set div {
	height:2em;
	background:rgba(250,248,245,0.3);
}
#step-status-set .step-status1 {
	width:32.1%;
}
#step-status-set .step-status2 {
	width:34%;
}
#step-status-set .step-status3 {
	width:32.1%;
}
#step-status-set .justify-helper {
	height:0;
}
#field-wrapper {
	width:90%;
	margin:0 auto;
	overflow:hidden;
}
#tool-field {
	float:left;
	margin-right:3em;
	width:150px;
}
#tool-save-container {
	width:64px;
	height:64px;
	margin:1em auto;
	position:relative;
}
#tool-save-container .bg,
#tool-save-container .tool,
#tool-save-container .loading-64 {
	width:64px;
	height:64px;
	background-size:64px 64px;
	position:absolute;
	top:0px; left:0px;
	display:block;
}
#tool-save-container .loading-64 {
	background:url(../images/loading-64.GIF) no-repeat;
}
#tool-save-container .bg.blue {
	background:url(../images/tool-save/bg-b.png) no-repeat;
}
#tool-save-container .bg.blue:active {
	background:url(../images/tool-save/bg-b-active.png) no-repeat;
}
#tool-save-container .bg.red {
	background:url(../images/tool-save/bg-r.png) no-repeat;
}
#tool-save-container .bg.red:active {
	background:url(../images/tool-save/bg-r-active.png) no-repeat;
}
#tool-save-container .bg.green {
	background:url(../images/tool-save/bg-g.png) no-repeat;
}
#tool-save-container .bg.green:active {
	background:url(../images/tool-save/bg-g-active.png) no-repeat;
}
#tool-save-container .tool.save {
	background:url(../images/tool-save/save.png) no-repeat;
}
#tool-save-container .tool.success {
	background:url(../images/tool-save/success.png) no-repeat;
}
#tool-save-container .tool.uploading {
	background:url(../images/tool-save/uploading.png) no-repeat;
}
#tool-save-container .tool.failure {
	background:url(../images/tool-save/failure.png) no-repeat;
}
#tool-save-container .slide-msg {
	position:absolute;
	top:0;
	left:0;
	height:44px;
	width:0px;
	display:none;
	padding:9.5px 32px 9.5px 68px;
	border:solid 1px #cac8c6;
	border-left:none;
	border-radius:32px;
	background:#fff;
	color:#333;
	overflow:hidden;
}
#tool-save-container .slide-msg-close {
	color:#999;
	position:absolute;
	right:18px; top:22px;
	width:16px; height:16px;
	text-decoration:none;
}
#tool-construct-container {
	text-align:center;
	position:relative;
}
#tool-construct-container .ui-draggable {
	border:solid 1px #CCC;
}
#tool-container-bg, #tool-container-side {
	position:absolute;
	height:100%;
	padding-bottom:10px;
	top:0; left:2%;
}
#tool-container-bg {
	background:#999 ;
	width:96%;
	z-index:-1;
	border-radius: 0px 0px 3px 3px;
}
#tool-container-side {
	background:rgba(51,51,51,0.5);
	width:20%;
	border-right:#de473a solid 2px;
	box-shadow:inset rgba(255,255,255,0.5) 0px 5px 5px;
	border-radius: 0px 0px 0px 3px;
	z-index:18;
}
#tool-construct-container h4{
	display:block;
	color:#FFF;
	background-color:#333;
	height:2em;
	line-height:2em;
	box-shadow: 0px 3px 3px rgba(102,102,102,0.8);
	z-index:40;
	position:relative;
}
#tool-construct-perserved #personality {
	position:relative;
}
#tool-construct-perserved .create-tip {
	position:absolute;
	top:2em;
	left:0px;
	z-index:10000;
	background:rgba(255,255,255,0.9);
	border:solid 1px #666;
	padding:2px;
	display:none;
}
#tool-construct-container .tool-construct-list a {
	text-decoration:none;
	display:block;
	cursor:move;
}
#tool-construct-container ul{
	position:relative;
	left:10px;
}
#tool-construct-container ul.tool-construct-list span {/* 为了改变icon在屏幕上表现的颜色 */
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
#tool-construct-container li{
	width:150px;
	display:block;
	height:1.5em;
	line-height:1.5em;
	background:#FFF;
	margin:8px 0;
	box-shadow: 0px 3px 3px #555;
	border-radius:2px;
	cursor:move;
	z-index:16;
}
#tool-construct-container .tool-personalize-list li {
	width:260px;
	height:auto;
	line-height:1em;
	padding:10px;
	text-align:left;
	cursor:auto;
}
#tool-construct-container .tool-personalize-list li h6 {
	line-height:1.5em;
}
#tool-construct-container .tool-personalize-list li .personalize-tip {
	font-size:12px;
	color:#aaa;
}
#tool-construct-container .tool-personalize-list li .personalize-main {
	line-height:1.8em;
}

#tool-construct-container .tool-construct-list span{
	width:1em; height:1.5em;
	/* 这里inline-block是为了让icon居右，文字居中，为了达到这一目的左边还有一个空的span */
	display:inline-block;
	float:right;
	margin-right:4px;
}
/* 下面就是给每个不同class的tool加上icon */
.tool-construct-icon-name {
	background:url(../images/tool/name.png) no-repeat center;
}
.tool-construct-icon-singleline {
	background:url(../images/tool/singleline.png) no-repeat center;
}
.tool-construct-icon-multiline {
	background:url(../images/tool/multiline.png) no-repeat center;
}
.tool-construct-icon-file {
	background:url(../images/tool/file.png) no-repeat center;
}
.tool-construct-icon-personalphoto {
	background:url(../images/tool/personalphoto.png) no-repeat center;
}
.tool-construct-icon-singlechoice {
	background:url(../images/tool/singlechoice.png) no-repeat center;
}
.tool-construct-icon-multichoice {
	background:url(../images/tool/multichoice.png) no-repeat center;
}
.tool-construct-icon-rate {
	background:url(../images/tool/rate.png) no-repeat center;
}
.tool-construct-icon-radar {
	background:url(../images/tool/radar.png) no-repeat center;
}
#tool-construct-container .tool-float-left {
	float:left !important;
}
/* 这里用了几个层级，因为这个区域里面input和textarea很多。
1.能够编辑的给.edit的class，可编辑的就有一个hover然后背景变黄的效果，没有这个class的是不可编辑的！
2.form-title是整张表的title，input的text类型，需要限制字符数
3.form-intro是整张表的介绍，是textarea
4.form-body里面有很多个q-field，层级很多，用firebug看最好。
5.拖拽区是q-number，是绝对定位到q-field的左边，它的右边有一条一个像素的边框
6.整个q-field四周有条3像素的边框
7.q-alternative是一个a，单击在“改为必答”和“改为选答”切换
8.q-title是输入的问题的内容，用的是textarea，并且有.edit的class
9.q-body里面有选项的内容（如果有问题有选项），用q-body1、q-body2……等表示，用的是type为text的input，这些内容也是要存数据库的
10.q-body里面的选项需要点击一个就能添加选项，一个选项的内容清空之后就把这个选项删除掉。
11.“点击添加选项”这个选项总是和其他选项隔一行
 */
 .pin-wrapper {
	float:left;
 }
#form-construct-field {
	float:right;
	margin:1em 2em 0 2em;
	background:#fff;
	border-radius:5px;
	padding:54px;
	overflow:visible;
}
#form-construct-field-test{
	float:right;
	width:855px;
	margin:1em 5% 0 0;
	background:#888;
	border-radius:;
	padding:3em;
	overflow:visible;
}
#form-construct-field .raw {
	color:#555;
}
#form-title {
	margin:0 auto;
	margin-bottom:1em;
	text-align:center;
}
#form-title .edit{
	margin:0 auto;
	text-align:center;
}
#form-intro, #form-tip {
	padding:10px 0;
}
#form-intro {
	border-bottom:#de473a solid 2px;
	margin-bottom:30px;
}
#form-body .q-field-before {
	position:relative;
	background:#FFF;
	border:rgba(255,255,255,0) solid 2px;
}
#form-body .q-del {
	width:29px;
	height:29px;
	background:url(../images/tool/delete.png) no-repeat;
	position:absolute;
	top:-20px;right:-20px;
}
#form-body .q-field-after {
	border:#ccc solid 3px;
	margin:1em 0;
	position:relative;
	background:#FFF;
}
#form-body .q-number {
	border-right:#CCC solid 1px;
	display:block;
	position:absolute;
	height:100%;
	width:50px;
	background:#FFF;
	text-align:center;
	font-weight:600;
}
#form-body .q-number span {
	display:block;
	margin:5px auto;
	padding: 5px 0;
}
#form-body .q-whole {
	padding:5px 5em 5px 58px;/* 注意这里的5em是“改为选答”这几个字的数量加一 */
	position:relative;
} 
#form-body .q-title {
	display:inline-block;
	width:100%;
}
#form-body .q-title  textarea.edit.title {
	max-height:1.2em;
}
#form-body .q-alternative {
	display:inline-block;
	float:right;
	margin-left:1em;
	position:absolute;
	top:5px; right:5px;
}
#form-body .q-type {
	display:inline-block;
	float:right;
	margin-left:1em;
}
#form-body .q-body {
	margin-top:5px;
}
#form-body .free-multichoice .q-body span , #form-body .free-singlechoice .q-body span {
	display:inline-block;

}
#form-body .no-edit {
	outline:none;
	cursor:default;
	resize:none;
} 
#form-tip {
	border-top:#de473a solid 2px;
	margin-top:30px;	
}
#form-tip textarea {
	text-align:center;	
}
#form-construct-field .title.edit {
	width:100%;
	overflow:auto;
	font-weight:600;
}
#form-construct-field .edit {
	border:none;
	outline:none;
	resize:none;	
	padding:5px; margin:0;
	transition:all ease 0.1s;
}
#form-construct-field .edit:hover,#form-construct-field .edit:active,#form-construct-field .edit:focus,#form-construct-field .simditor-body:hover,#form-construct-field .simditor-body:active,#form-construct-field .simditor-body:focus {
	background:#FF9;
}
.q-body li {
	display:inline-block;
}
.form-placeholder {
	background:#FF9;
}
#next-step {
}
#step1-step2 {
	display:block;
	width:200px;
	margin:0 auto;
}

/* create-3 */
.form-release-status {
	width:100%;
	line-height:2em;
	border-radius:5px;
}
.form-release-status.success {
	border:solid 1px #a7ffab;
	background:#e5ffe6;
}
#form-field {
	width:100%;	
}
#tool-field {
	width:300px;
}
.release-method {
	margin-bottom:2em;
}
.release-method h3 {
	font-size:16px;
	font-weight:bold;
}
.release-method .link-select {
	margin:0.5em 0;
}
.release-method .link-select label {
	margin-right:1.75em;
}
.release-method .method-tip {
	font-size:14px;
	color:#999;
}
.release-method.outer-link .link-container {
	width:400px;
}
.release-method.QR-code .image-holder {
/*	width:300px;
	height:300px;
*/}
.release-method.QR-code input.QR-width-customize, .release-method.QR-code input.QR-height-customize {
	text-align:center;
	width:4em;
	border:none;
	outline:none;
	border-bottom:solid 1px #ccc;
}
.tool-personalize-list #form-expire-time, .tool-personalize-list #form-number-limit {
	text-align:center;
	width:5.5em;
	border:none;
	outline:none;
	border-bottom:solid 1px #ccc;
}
.tool-personalize-list #form-number-limit {
	width:5.5em;
}

/* create-3 */
#tool-field .card {
	margin:18px 20px 50px 49px;
}
