@CHARSET "UTF-8";

/*清理样式*/
body{
    color:#333;
    /* 注意这里一次定义了font-weight font-size/line-height font-family ,微软正黑（Microsoft Jhenghei）是个有待发掘的字体：）*/
	/* 整个body除了特别定义font-size都是16px，除了这里之外其他地方少定义font-size，因为这样会改变整个网页布局*/
    font: normal 100%/1.4 'Microsoft Jhenghei', 'Microsoft Yahei', sans-serif;
    background:#faf8f5;
	overflow:hidden;
}
input,textarea,select{
    font-size:1em;    
    font-family:inherit;
	outline:none;
	padding:0;
	margin:0;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
    margin:0;
}
h4,h5,h6{
    font-size:1em;
}
ul,ol{
    padding-left:0; 
    list-style-type:none;
}
/* 选中内容的样式 */
*::-moz-selection{
	color:#fff;
	background:#de473a;
}
/*image with no-border*/
a img{border:0;}
img{border:0;}
/*清除链接的样式*/
a { 
	text-decoration:none; 
	color:inherit;
	outline:none;
}
a:hover {
	text-decoration:underline; 
	cursor:pointer;
}
/* 清除btn的样式 */
.btn {
	width:50px;
	height:25px;
	cursor:pointer;
	color:#fff;
	border:none;
	border-radius:2px;	
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.3) inset;-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.3) inset;	
}
.btn:active {
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2) inset;-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}
input.red {
	background:#cd4337;
}
input.blue {
	background:#37c1cd;
}
input.green {
	background:#37cd43;
}
div{
    margin:0;
	padding:0;
}
/* 清除浮动 */
.clear-float {
	overflow:auto;
	zoom:1;
	_height:1%;
}
/* 去除移动端上点击元素时产生的highlight边框和背景等 */
*:active {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0);
}

/*因为justify一定要超过一行，所以这个放在最后用来撑宽度*/
.justify-helper {width:100%; display:inline-block;}

#header {
	width:100%;
	background:#FFF;
	height:80px;
}
#header ul, #tab-container ul.tab-list {
	height:80px; 
	width:90%;
	padding:0 5%;
}
#header ul:hover,#header ul:active {
	cursor:default;
}
#header li {
	height:100%;
	font-size:18px;
}

#header li.left, #tab-container li.left {
	float:left;	
}
#header li.right {
	float:right;	
}
#header a:hover, #tab-container li.tab-item a.tab-link:hover{
	text-decoration:none;
}
#header li.head-item a {
	display:block;
	background-repeat:no-repeat;
}
#header li.head-item a:hover, #header li.active a {
	color:#E1331C;
}
/* 给nav加样式 */
#header li.nav a {
	height:18px;
	line-height:18px;
	padding:31px 31px 31px 49px;
	background-position:24px center;
	background-size:18px 18px;
}
/* 给除了nav之外的item加样式 */
#header li.search-input a.head-link span.head-name, #header li.logo a.head-link span.head-name, #header li.search form {
	display:none;
}
#header li.logo a {
	padding:0 !important;
	width:128px;
	height:80px !important;
	background-position:left center;
	background-image:url(../images/header-icon/logo.png);
}
#header li.search-input a {
	height:18px;
	line-height:18px;
	padding:31px 31px 31px 49px;
	background-image:url(../images/header-icon/search.png);
	background-position:24px center;
	background-size:18px;
}
#header li.search-input input.search-text {
	font-size:18px;
	border:none;
	border-bottom:solid 1px #ccc;
	color:#000;
	height:18px;
	width:6.5em;
	transition:all 0.5s ease;-moz-transition:all 0.5s ease;
}
#header li.search-input input.search-text:focus{
	width:9em;
}

/* 给每种item加背景图片 */
#header li.logo a {
	background-image:url(../images/header-icon/logo.png);
}
#header li.index a {
	background-image:url(../images/header-icon/index.png);
}
#header li.index a:hover, #header li.index a:active, #header li.index.active a {
	background-image:url(../images/header-icon/index-active.png);
}
#header li.more a {
	background-image:url(../images/header-icon/more.png);
}
#header li.more a:hover {
	background-image:url(../images/header-icon/more-hover.png);
}
#header li.more a:active, #header li.more.active a {
	background-image:url(../images/header-icon/more-active.png);
}
#header li.search a, #header li.search-input a {
	background-image:url(../images/header-icon/search.png);
}
#header li.search a:hover, #header li.search-input a:hover {
	background-image:url(../images/header-icon/search-hover.png);
}
#header li.search a:active, #header li.search.active a, #header li.search-input a:active, #header li.search-input.active a {
	background-image:url(../images/header-icon/search-active.png);
}
#header li.create a {
	background-image:url(../images/header-icon/create.png);
}
#header li.create a:hover {
	background-image:url(../images/header-icon/create-hover.png);
}
#header li.create a:active, #header li.create.active a {
	background-image:url(../images/header-icon/create-active.png);
}
#header li.personal a {
	background-image:url(../images/header-icon/personal.png);
}
#header li.personal a:hover, #header li.personal a:active, #header li.personal.active a {
	background-image:url(../images/header-icon/personal-hover.png);
}
#header li.personal a:active, #header li.personal.active a {
	background-image:url(../images/header-icon/personal-active.png);
}

/* TODO:这里待修改 */
#header .search-mobile {
	display:none;
}


#tab-container {
	width:100%;
	height:50px;
	background:#FFF;
	border-bottom:solid #ccc 2px;
}
#tab-container ul.tab-list {
	height:52px;
}
#tab-container li.tab-item {
	height:48px;
}

#tab-container li.tab-item a.tab-link {
	text-align:center;
	display:block;
	font-size:16px;
	padding:0 4em;
	height:100%;
	line-height:48px;
	color:#555;
	border-bottom:solid 4px rgba(255,255,255,0);
}
#tab-container li.tab-item a.tab-link:hover {
	background-color:#f1f1f1;
	border-bottom:solid 4px #ef4b35;
}
#tab-container li.tab-item a.tab-link:active {
	background-color:#ddd;
	border-bottom:solid 4px #b01500;
	text-shadow:0px 0px 4px #fff;
}
#tab-container li.active a.tab-link, #tab-container li.active a.tab-link:hover, #tab-container li.active a.tab-link:active {
	font-weight:bold;
	border-bottom:solid 4px #E1331C;
	color:#E1331C;
}

#content-container {
	overflow:auto;
}
#content {
	margin-top:50px;
}

/* Swipe 2 required styles */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  width:90%;
  margin:0 auto;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  position: relative;
}

/* END required styles */

.section-header {
	position:relative;
}
.section-header h2 {
	font-size:16px;
	z-index:2;
	padding-right:1em;
	font-weight:normal;
	border-left: 0.2em solid #000; 
	padding-left:0.5em; 
}

.h2-line {
	display:none;
	z-index:-1;
	position:absolute;
	top:0.8em; left:0;
	width:100%;
	height:0;
	border-bottom:#FFF solid 2px;
	border-top:#d9cfbf solid 2px;
}

#slideshow {height:20em; display:block;}

/* 这个其他section也可以重用  */
.reminder,#footer {
	width:90%;
	padding:0 5%;
	text-align:justify;
}
.section {
	text-align:justify;
}
/* 使justify的元素左端对齐 */
.left-fix {
	display:inline-block;
	height:0;
	padding:0; 
	overflow:hidden;
}


/* 以下代码重用性高 */
.card { 
	display:inline-block; 
	vertical-align:text-top;
	width:15.125em;  /* 15.125*16=242px */
	margin:1.8em 0.3em 0.2em 0.3em;
}
.card a:hover {
	text-decoration:none;
}
.card .img-holder {
	border:solid 0.0625em #d2d0ce; /* 0.0625*16=1px */
	border-radius: 0.25em 0.25em/0.25em; /* 0.25*16=4px */
	-moz-border-radius:0.25em  0.25em/0.25em;  
	-webkit-border-radius:0.25em 0.25em/0.25em; 
	box-shadow:0px 0.3125em 0.625em rgba(1,1,1,0.2); /* 0.3125*16=5px 0.625*16=10px */
	-moz-box-shadow:0px 0.3125em 0.625em rgba(1,1,1,0.2); 
	-webkit-box-shadow:0px 0.3125em 0.625em rgba(1,1,1,0.2);
	transition:all 0.5s ease; 
}
.card .img-holder:hover {
	-moz-transform:translateY(-10px);-webkit-transform:translateY(-10px);
}


/* 这里为了使图片不拉伸，做了一些裁剪，但并不完美 */
.card .img-holder .fader img {
	min-width:15em; /* 15*16=240px */
	min-height:7.5em; /* 7.5*16=120px */
	width:15em; /* 15*16=240px */
	height:7.5em; /* 7.5*16=120px */
	border-radius:0.18em 0.18em 0em 0em/0.18em;-moz-border-radius:0.18em 0.18em 0em 0em/0.18em; /* 0.18*16=2.88px */
}
.card .img-holder .fader {
	width:15em; /* 15*16=240px */
	height:7.5em; /* 7.5*16=120px */
}
.card .img-holder .fader a {
	height:7.5em; /* 7.5*16=120px */
	display:block;
	overflow:hidden;
	text-align: center;
    vertical-align: middle;
}


.card .img-counter {
	display:block;
	background:#fff;
	color:#777;
	border-radius:0em 0em 0.26em 0.26em/0.26em;-moz-border-radius:0em 0em 0.26em 0.26em/0.26em;
	font-size:0.8em;/*注意下面的em基准变为12.8px */
	height:2em;
	line-height:2em;
	vertical-align:text-bottom;
}
.card .img-counter .counter .time-left,.written {
	background:left no-repeat url(../images/clock.png);
	background-size: 16px 16px;
	opacity:0.6;
	padding-left:1.5625em; /* 1.5625*12.8=20px */
	margin-left:6px; /* 0.625*12.8=8px */
}
.card .img-counter .counter .written {
	background:left no-repeat url(../images/pen.png);
	background-size: 16px 16px;
	opacity:0.6;
}
/* 注意这里要根据实际使用中的名称的长度来进行字体之类的调整 */
.card .form-name {
	padding:4px 0 0 6px ;
	background:#fff;
	font-weight:bold;
}


.reminder {
	text-align:right;
}
.reminder p {
	display:inline-block;
	margin-left:20px;
}



#footer {
	font-size:14px;
	margin-top:3em;
	line-height:2em;
	width:90%;
	padding:1em 5%;
	background:#ddd url(../images/footer-bg.png) repeat-x;
	text-align:center;
	text-align:justify;
}
#footer-logo,#footer-info,#footer-contact{
	display:inline-block;
}


