/* CSS Document */
#manage-tool,#manage-table, #manage-graph {
	margin-top:1em;
}
#manage-tool .section-body {
	padding-top:20px;
}
#manage-tool .tool {
	margin:16px 48px 0 48px; /* 间距可调节 */
	width:80px;
	display:inline-block;
}
#manage-tool .tool a {
	font-size:20px;
	line-height:80px;
	text-align:center;
	color:#FFF;
	margin:0 auto;
	display:block;
	width:80px;
	height:80px;
	transition:all ease-out 0.5s;
	border-radius:8px;
}
#manage-tool .tool a:hover {
	text-decoration:none;
}
#manage-xls a {
	background:#278651;
}
#manage-xls a:hover {
	background:#185433;
}
#manage-rar a {
	background:#0477ad;
}
#manage-rar a:hover {
	background:#0c5276;
}
#manage-txt a {
	background:#f39c12;
}
#manage-txt a:hover {
	background:#d38811;
}
#manage-zongsu a {
	background:#e74c3c;
}
#manage-zongsu a:hover {
	background:#c24134;
}
#manage-erke a {
	background:#9b59b6;
}
#manage-erke a:hover {
	background:#6f4083;
}
#manage-add #manage-add-msg {
	color:#D2D0CE;
	border:2px dashed #D2D0CE;
	line-height:76px;
	height:76px;
	width:76px;
}
.section-body {
	padding-top:2em;
}
#table-menu {

}
#table-menu table ,.quick-select select {
	text-shadow:0px 1px #fff;
}
#table-menu table {
	border-top:solid 4px #DE473A;
}
#table-menu table ,#answer-field table.list-table {
	margin:0;
	width:100%;
	border-collapse:separate;
	font-size:16px;
	background:#fff;
}
#table-menu tr {
	height:48px;
	border:solid 1px #ccc;
}
#table-menu th {
	border:solid 1px #ddd;
	border-top:solid 1px #fff;
	border-right:solid 1px #fff;
	border-bottom:solid 2px #ddd;
	height:48px;
	background:linear-gradient(#FCFCFC, #EEE);
}
#table-menu th:active {
	background:linear-gradient(#eee, #fcfcfc);
}
#table-menu th:first-of-type:active {
	background:linear-gradient(#FCFCFC, #EEE);
}
#table-menu th:last-of-type {
	text-align:center;
	border-right:solid 1px #ddd;
}
#table-menu #table-tool {

}
#table-menu #table-tool #table-view  {
	line-height:80px;
	display:inline-block;
	padding-left:12px;
	font-size:16px;
	vertical-align:middle;
}
#table-menu #table-view .list-view, #table-menu #table-view .matrix-view {
	line-height:80px;
	display:inline-block;
	width:28px;
	height:28px;
	border:solid 1px #666;
	vertical-align:middle;
	opacity:0.8;
}
#table-menu #table-view .list-view {
	border-bottom-left-radius:3px;
	border-top-left-radius:3px;
	background:linear-gradient(#fff, #ccc);
}
#table-menu #table-view .list-view b {
	display:block; _display:inline-block;
	width:100%;
	height:100%;
	background:url(../images/tool/list-view.gif) center no-repeat;
}
#table-menu #table-view .list-view:active, #table-menu #table-view .list-view.active{
	background:linear-gradient(#aaa, #ddd);
}
#table-menu #table-view .matrix-view {
	border-left:none;
	border-bottom-right-radius:3px;
	border-top-right-radius:3px;
	background:linear-gradient(#fff, #ccc);
}
#table-menu #table-view .matrix-view b {
	display:block; _display:inline-block;
	width:100%;
	height:100%;
	background:url(../images/tool/matrix-view.gif) center no-repeat;
}
#table-menu #table-view .matrix-view:active, #table-menu #table-view .matrix-view.active {
	background:linear-gradient(#aaa, #ddd);
}
#table-menu #table-tool .quick-search {
	height:28px;
	display:inline-block;
	margin-left:5px;
	padding:0 8px;
	vertical-align:middle;
	background:linear-gradient(#eee, #fff);
	border-radius:3px;
	border:solid 1px #666;
	opacity:0.8;
}
#table-menu #table-tool .quick-search a {
	display:block; _display:inline-block;
	width:100%;
	height:100%;
	background:url(../images/tool/search.png) left center no-repeat;
}
#table-menu #table-tool .quick-search input.search {
	border-left: 0;
   border-right: 0;
   border-top: 0;
   border-bottom:1px solid #000000;
	outline:none;
	height:28px;
	width:4.2em;
	vertical-align:middle;
	background:transparent;
}
#table-menu #table-tool .quick-search input.btn {
	vertical-align:middle;
	display:none;
}
#table-menu #table-select {


}
#table-menu #table-select .quick-select {
	display:inline-block;
	width:100%;
	height:100%;
	cursor:pointer;
}
#table-menu #table-select .quick-select select {
	width:100%;
	height:48px;
	line-height:48px;
	padding:12px 0;
	border:none;
	background:transparent;
}
#table-menu #time-toggle {
	cursor:pointer;
}
#table-menu #time-toggle  a {
	height:100%;
	text-decoration:none;
}

#answer-field {
	width:100%;
}
#answer-field table {
	border-left:solid 1px #ddd;
	border-right:solid 1px #ddd;
	border-bottom:solid 1px #ddd;
	background:#fff;
}
#answer-field table.list-table {
	display:none;
}

#answer-field table.list-table td, 
.a-all-msg table td {
	padding:5px 0;
}
#answer-field table.list-table  tr:nth-child(even) {
	background:#f7f7f7 ;
}
#answer-field table.list-table  tr:hover, 
#answer-field table.matrix-table td:hover {
	background:#e6e6e6 !important;
	cursor:pointer;
}
#answer-field table  td {
	text-align:center;	
}
#answer-field table.list-table td.a-order{
	color:#999;
}
#answer-field table.list-table td.a-content{
	text-align:left;
}
#answer-field table.list-table td.a-time, 
#answer-field table.matrix-table .a-time {
	color:#666;
}
#answer-field table.matrix-table a {
	text-decoration:none;
}
#answer-field table.matrix-table {
	padding:1em;
}
#answer-field table.matrix-table td,
.a-all-msg table td {
	padding:1em;
}
#answer-field table.matrix-table .a-time {
	font-size:12px;
}
.col-1 {
	width:12.2em;
}
.col-2 {

}
.col-3 {
	display:none;
}
.col-4 {
	width:7em;
}
.a-all-msg p.a-time {
	text-align:right;
	font-size:12px;
	color:#666;
}
.a-all-msg table {
	border:solid 1px #ddd; 
	background:#fff;
}
.a-all-msg table tr {
	border-bottom:solid 1px #ddd;
}
.a-all-msg table td.q-content {
	background:#f7f7f7;
	width:40%;
}
/*#manage-table .section-menu {
	margin:1em 0;
}
#manage-table .section-menu span {
	display:inline-block;


}
#manage-table .quick-select {
	margin-left:1em;
	width:60%;
}
#manage-table .quick-search {
	float:right;
	margin-right:1em;
}
#manage-table .quick-select select {

	width:80%;
}
#manage-table .quick-search .btn {
	text-align:center;
}
#manage-table .section-body {
	width:100%;
	overflow:auto;
	position:relative;
}
#manage-table #answer-field {
	margin:0 auto;
	width:98%;
	border:solid 2px #ccc;
	border-radius:5px 5px;
	background:#FFF;
	height:900px;
}
#manage-table #answer-content {
	text-align:justify;
}
#manage-table .answer-container {
	display:inline-block;
	width:8em;
	margin:2em 2.5em 0px 2.5em;
	padding:4px;
	cursor:pointer;
	border:solid 1px rgba(255,255,255,0);
	border-radius:3px 3px;
}
#manage-table .answer-container:hover {
	border:solid 1px #ccc;
	background:#eee;
}
#manage-table .answer-container a {
	text-decoration:none;
	
}
#manage-table .answer-container .answer {
	
}
#manage-table .answer-container .submit-time {
	color:#ccc;
	font-size:12px;
}
#manage-table .answer-container.left-fix {
	padding:0;
	border-radius:0px 0px; /* 这些都是为了修复无内容的answer-container hover会显示出边框 */
}*/
/*#manage-table table {
	background:#FFF;
}
#manage-table table,td,th {
	border:1px solid #ccc;
	table-layout:fixed;
	border-collapse:collapse;
	padding:0 1em;
	text-align:center;
	word-break:break-all;/* 设置换行 */
/*	text-overflow:ellipsis; -o-text-overflow:ellipsis; -moz-binding: url('ellipsis.xml#ellipsis');
	white-space:nowrap;
	overflow:hidden;
}
#manage-table td,th {
	max-width:400px;
}
#manage-table #th {
	position:absolute;
	top:0; left:0;
}*/