/* CSS Document */
#manage-tool,#manage-table {
	margin-top:1em;
}
#manage-tool .section-body {
	padding-top:20px;
}
#manage-tool .tool {
	margin:16px 48px 0 48px; /* 间距可调节 */
	width:80px;
	display:inline-block;
}
#manage-tool .tool a {
	font-size:20px;
	line-height:80px;
	text-align:center;
	color:#FFF;
	margin:0 auto;
	display:block;
	width:80px;
	height:80px;
	transition:all ease-out 0.5s;
	border-radius:8px;
}
#manage-tool .tool a:hover {
	text-decoration:none;
}
#manage-xls a {
	background:#278651;
}
#manage-xls a:hover {
	background:#185433;
}
#manage-rar a {
	background:#0477ad;
}
#manage-rar a:hover {
	background:#0c5276;
}
#manage-txt a {
	background:#f39c12;
}
#manage-txt a:hover {
	background:#d38811;
}
#manage-zongsu a {
	background:#e74c3c;
}
#manage-zongsu a:hover {
	background:#c24134;
}
#manage-erke a {
	background:#9b59b6;
}
#manage-erke a:hover {
	background:#6f4083;
}
#manage-add #manage-add-msg {
	color:#D2D0CE;
	border:2px dashed #D2D0CE;
	line-height:76px;
	height:76px;
	width:76px;
}
#manage-table .section-menu {
	margin:1em 0;
}
#manage-table .section-menu span {
	display:inline-block;


}
#manage-table .quick-select {
	margin-left:1em;
}
#manage-table .quick-search {
	float:right;
	margin-right:1em;
}
#manage-table .quick-select select {


}
#manage-table .quick-search .btn {
	text-align:center;
}
#manage-table .section-body {
	width:100%;
	overflow:auto;
	position:relative;
}
#manage-table #answer-field {
	margin:0 auto;
	width:98%;
	border:solid 2px #ccc;
	border-radius:5px 5px;
	background:#FFF;
	height:900px;
}
#manage-table #answer-content {
	text-align:justify;
}
#manage-table .answer-container {
	display:inline-block;
	width:8em;
	margin:2em 2.5em 0px 2.5em;
	padding:4px;
	cursor:pointer;
	border:solid 1px rgba(255,255,255,0);
	border-radius:3px 3px;
}
#manage-table .answer-container:hover {
	border:solid 1px #ccc;
	background:#eee;
}
#manage-table .answer-container a {
	text-decoration:none;
	
}
#manage-table .answer-container .answer {
	
}
#manage-table .answer-container .submit-time {
	color:#ccc;
	font-size:12px;
}
#manage-table .answer-container.left-fix {
	padding:0;
	border-radius:0px 0px; /* 这些都是为了修复无内容的answer-container hover会显示出边框 */
}

/*#manage-table table {
	background:#FFF;
}
#manage-table table,td,th {
	border:1px solid #ccc;
	table-layout:fixed;
	border-collapse:collapse;
	padding:0 1em;
	text-align:center;
	word-break:break-all;/* 设置换行 */
/*	text-overflow:ellipsis; -o-text-overflow:ellipsis; -moz-binding: url('ellipsis.xml#ellipsis');
	white-space:nowrap;
	overflow:hidden;
}
#manage-table td,th {
	max-width:400px;
}
#manage-table #th {
	position:absolute;
	top:0; left:0;
}*/