/* CSS Document */
#whole-msg-bg {
	display:none;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 95;
	min-height: 100% !important;
	width: 100% !important;
	height: 100% !important;
	overflow: visible;
	background:rgba(51,51,51,0.5);	
}
.msg, .box {
	position:fixed;
	width:25em;
	top:110%;
	left:50%;
	margin-left:-12.5em;
	z-index:100;
	box-shadow:	0px 0.3125em 0.625em rgba(0,0,0,0.4);
	-moz-border-radius:5px;
	border-radius:5px;
}
.msg .msg-border, .box .box-border {	
	-moz-border-radius:5px;
	border-radius:5px;
}
.msg .msg-border {
	background: url(../images/border.png) repeat ;
	padding:5px;
}
.box .box-border {
	background-color:rgba(100,100,100,0.5);
	padding:10px;
}
.msg .msg-content,.box .box-content {
	background-color:#FFF;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:15px;
	box-sizing:content-box;
	overflow:auto;
}
.msg h3, .box h3 {
	text-align:center;
	padding-bottom:6px;
}
.msg .btn, .box .btn {
	margin:10px auto 0px auto;
	display:block;
}
.msg a, .box a{
	color:#F00;
}
#register-msg-content .title, #login-msg-content .title, #after-fill-register-msg-content .title, #after-fill-login-msg-content .title {
/*	border:none;
	border-bottom:solid 1px #aaa;
*/	color:#333;
}
#register-msg-content .title .tip, #after-fill-register-msg-content .title .tip {
	color:#999;
}
#register-msg-content .body input, #login-msg-content .body input, #after-fill-register-msg-content .body input, #after-fill-login-msg-content .body input {
	width:250px;
}
#register-msg-content .left, #login-msg-content .left, #after-fill-register-msg-content .left, #after-fill-login-msg-content .left {
	width:260px;
	margin:0 auto;
}
#register-msg-content .right, #login-msg-content .right, #after-fill-register-msg-content .right, #after-fill-login-msg-content .right {
	text-align:center;
}
#login-msg-content .remember-me, #after-fill-login-msg-content .remember-me {
}
