@CHARSET "UTF-8";

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/


/* 当设备像素比不小于1.5的时候... */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),  
    only screen and (min-device-pixel-ratio : 1.5) {
    #header li.logo a {
	background-image:url(../images/header-icon/logo.png);
	}
	#header li.index a {
		background-image:url(../images/header-icon/index@2x.png);
	}
	#header li.index a:hover, #header li.index a:active, #header li.index.active a {
		background-image:url(../images/header-icon/index-active@2x.png);
	}
	#header li.more a {
		background-image:url(../images/header-icon/more@2x.png);
	}
	#header li.more a:hover {
		background-image:url(../images/header-icon/more-hover@2x.png);
	}
	#header li.more a:active, #header li.more.active a {
		background-image:url(../images/header-icon/more-active@2x.png);
	}
	#header li.search a, #header li.search-input a {
		background-image:url(../images/header-icon/search@2x.png);
	}
	#header li.search a:hover, #header li.search-input a:hover {
		background-image:url(../images/header-icon/search-hover@2x.png);
	}
	#header li.search a:active, #header li.search.active a, #header li.search-input a:active, #header li.search-input.active a {
		background-image:url(../images/header-icon/search-active@2x.png);
	}
	#header li.create a {
		background-image:url(../images/header-icon/create@2x.png);
	}
	#header li.create a:hover {
		background-image:url(../images/header-icon/create-hover@2x.png);
	}
	#header li.create a:active, #header li.create.active a {
		background-image:url(../images/header-icon/create-active@2x.png);
	}
	#header li.personal a {
		background-image:url(../images/header-icon/personal@2x.png);
	}
	#header li.personal a:hover, #header li.personal a:active, #header li.personal.active a {
		background-image:url(../images/header-icon/personal-hover@2x.png);
	}
	#header li.personal a:active, #header li.personal.active a {
		background-image:url(../images/header-icon/personal-active@2x.png);
	}
	
}

/* for 900px or less */
@media screen and (max-width: 900px) {
	/* header里的nav样式改变，节省空间 */
	#header li.nav a {
		background-position:center 19px !important;
		padding:42px 19px 19px 19px;
	}
	/* 减小header的字体 */
	#header li.nav {
		font-size:14px;
	}
	/* 搜索dropDown的水平位置 */
	#header #search-dropDown {
		right:240px;
	}
	
	.section-body {
		padding:0 10% 0 10%;
	}

}

/* for 750px or less 从这里开始算包括平板在内的触摸手持设备 */
@media screen and (max-width: 750px) {
	/* tab-container 的a宽度减小 */
	#tab-container li.tab-item a.tab-link {
		padding:0 2em;
	}
	#footer {
		display:none;
	}
	.card .img-holder:hover {
	-moz-transform:none;-webkit-transform:none;
	}
	/* section-body宽度减小，居中 */
	.section-body {
		width:250px;
		padding:0;		
		margin:0 auto;
	}
	#header #search-dropDown {
		top:121px;
		right:0;
		width:100%;
	}
}
/* for 500px or less   这里开始算作手机 */
@media screen and (max-width: 500px) {
	/* 去除与屏幕之间的间隔，节省空间 */
	#header ul, #tab-container ul.tab-list, .swipe, .reminder, #footer, .content-container  {
		width:100%;
		padding:0;
	}
	/* 3个tab，宽度为33.33% */
	#tab-container ul.tab-list li {
		width:33.333%;
	}
	/* 放置header和tab-container溢出 */
	#header ul, #tab-container ul {
		overflow:hidden;
	}
	/* 5个head 宽度为20% */
	#header li {
		width:20%;	
	}
	/* 使nav的文字居中 */
	#header li.nav a {
		text-align:center;
	}
	/* 将header放到页面底下 */
	#header {
		position:fixed;
		bottom:0;
		left:0;
		z-index:500;
		border-top:solid 2px #ccc;
	}
	
	#header .dropDown {
		top:auto;
		bottom:80px;
	}
	#header #search-dropDown {
		top:auto;
		bottom:121px;
		right:0;
		width:100%;
	}
	.section-body {
		width:250px;
		padding:0;		
		margin:0 auto;
	}
	/*#header {
		position:fixed;
		top:0; left:0;
		z-index:99;
		width:100%;
	}
	#footer div {
		display:block;
	}*/
	.msg {
		width:90%;
		margin-left:-45%;/*这是为了居中写的代码*/
	}
	#header li.search {
		/*display:none;*/
	}
	/*#header .search-mobile {
		/*TODO/*
		display:none;
		font-size:18px;
		display:block;
		position:fixed;
		top:62px; left:-5%;
		background:rgba(255,255,255,0.9);
		text-align:center;
		padding:0.8em 0;
		width:100%;
	}*/
	/*#header .search-mobile input.search-text {
		width:300px;
		text-align:center;
		position:relative;
	}*/
	#header .search-mobile {
		top:auto;
		bottom:80px;
	}
 	.h2-line {/*分割线变细*/
	border-top: 1px solid #D9CFBF;
	border-bottom: px solid #FFF;
	}
}


/* for 320px or less 
@media screen and (max-width: 320px) {
	.section-body {
		width:250px;
		padding:0;		
		margin:0 auto;
	}
	body {
	width:320px;
	}
	#header {
		position:fixed;
		top:0; left:0;
		z-index:99;
		width:100%;
	}
}*/

