@CHARSET "UTF-8";

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
.section-body {
}
/* for 900px or less */
@media screen and (max-width: 900px) {
	.section-body {
		padding:0 10% 0 10%;
	}

}

/* for 750px or less */
@media screen and (max-width: 750px) {
	.section-body {
		width:250px;
		padding:0;		
		margin:0 auto;
	}
}
/* for 500px or less   这里开始算作移动设备 */
@media screen and (max-width: 500px) {
	.section-body {
		width:250px;
		padding:0;		
		margin:0 auto;
	}
	#header {
		position:fixed;
		top:0; left:0;
		z-index:99;
		width:100%;
	}
	#footer div {
		display:block;
	}
	.msg {
		width:90%;
		margin-left:-45%;/*这是为了居中写的代码*/
	}
	#header li.search {
		display:none;
	}
	#header .search-mobile {
		font-size:18px;
		display:block;
		position:fixed;
		top:62px; left:-5%;
		background:rgba(255,255,255,0.9);
		text-align:center;
		padding:0.8em 0;
		width:100%;
	}
	#header .search-mobile input.search-text {
		width:300px;
		text-align:center;
		position:relative;
	}
	.reminder {
		display:none;
	}
	.h2-line {/*分割线变细*/
	border-top: 1px solid #D9CFBF;
	border-bottom: px solid #FFF;
	}
}


/* for 320px or less */
@media screen and (max-width: 320px) {
	.section-body {
		width:250px;
		padding:0;		
		margin:0 auto;
	}
	body {
	width:320px;
	}
	#header {
		position:fixed;
		top:0; left:0;
		z-index:99;
		width:100%;
	}
}

